node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Ignore build artifacts
dist

# Ignore logs
logs
*.log
# Ignore temporary files
tmp
# Ignore coverage reports
coverage